/* Fonts */

@font-face {
    font-family: "CircularStd";
    src: url("./fonts/circular-bold.otf");
}

/* Remove usual styling */

body {
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
}

button:focus {
    outline: 0;
}

/* Navigation Bar */

nav {
    height: 100px;
    background-color: white;
}

.nav-button-group {
    margin: 0 10vw;
    height: 100%;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Note: pagemaker is reused in footer with inverted colors */

.pagemaker {
    width: 134px;
    height: 33px;
    font-family: 'CircularStd';
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b;
}

.pagemaker .text-style-1 {
    color: #363636;
}

.main-nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.main-nav a {
    font-family: 'CircularStd';
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

/* Reused in feature section with small icon, same function */

.download {
    width: 150px;
    height: 49px;
    border: 1px solid #ffffff;
    border-radius: 100px;
    background-color: #000000;
    font-family: 'CircularStd';
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    transition: 0.2s;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.download:hover {
    border: 1px solid #000000;
    background-color: #ffffff; 
    color: #000000;
    transition: 0.2s;
    cursor: pointer;
}

/* Feature Section */

.feature {
    height: 1000px;
    display: flex;
    justify-content: center;   
}

.special-button .download {
    width: 162px;
    height: 49px;
    padding: 10px;
    position: absolute;
    right: 77px;
    top: 800px;
}

.phone-animation {
    position: relative;
    margin: 80px;
}

.blue-blob {
    position: absolute;
    width: 682px;
    left: -133px;
    height: 100%;
    border: none;
    z-index: -1;
}

/* Footer */

footer {
    height: 280px;
    background-color: #000000;
    padding: 120px 77px;
}

.desktop-footer {
    display: flex;
}

.desktop-footer .pagemaker {
    color: #ffffff;
}

.desktop-footer .pagemaker .text-style-1 {
    color: #8b8b8b;
}

@media (max-width: 950px) {
    .download {
        display: none;
    }
    .phone-animation img {
        max-width: 80vw;
    }
    .blue-blob {
        width: 100vw;
    }
}